<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tiny URL</title>
        <style>
            .error {
                color: red;
            }
        </style>
    </head>
    <body>
        <div>
            <h1 class="error">Entered URL is not valid!</h1>
            <p>A valid url could be like below:</p>
            <ul>
                <li> http://tier.app/xyz </li>
                <li> https://tier.app/xyz </li>
                <li> http://www.tier.app/xyz </li>
                <li> https://www.tier.app/xyz </li>
                <li> tier.app/xyz </li>
            </ul>
        </div>
    </body>
</html>